.container {
    /* width: 70%; */
    margin: 2rem auto;
    background-color: green;
}

#items-wrap {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 100px;
    height: auto;
    margin: 5px;

}

img:hover {
    cursor: pointer;

}


.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.5rem;
    font-size: 2rem;
    background-color: rgb(3, 186, 192);
    color: rgb(223, 237, 238);
    margin: 1rem auto 2rem auto;

}

.btn:hover {
    background-color: rgb(14, 66, 68);
    color: #fff;
    cursor: pointer;
}