body {
    background-color: green;
}

.container {

    max-width: 800px;
    margin: 2rem auto;
}

#items-wrap {
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;

}

.cardDiv {
    margin: .5rem;
    width: 80px;
    height: 100px;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

/*.cardDiv:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
 } */

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
}

.card-front {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;

}

.active {
    transform: rotateY(180deg);

}

img {
    width: 100%;
    height: 100%;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(3, 186, 192);
    color: rgb(223, 237, 238);
    margin: 1rem auto 2rem auto;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(14, 66, 68);
    color: #fff;
    cursor: pointer;
}